{{ define "main" }}
  {{ partial "components/page-header" . }}
  <section class="section pt-0 has-backdrop">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
          <div class="changelog">
            {{ .Content }}
            {{/* <div class="changelog-item">
              <div class="changelog-date">
              <span>23 May 2022</span>
              </div>
              <div class="changelog-content">
              <h2 class="h4">Version 2.0</h2>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              </div>
              </div>
              <div class="changelog-item">
              <div class="changelog-date">
              <span>23 May 2022</span>
              </div>
              <div class="changelog-content">
              <h2 class="h4">Version 2.0</h2>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              </div>
              </div>
              <div class="changelog-item">
              <div class="changelog-date">
              <span>23 May 2022</span>
              </div>
              <div class="changelog-content">
              <h2 class="h4">Version 2.0</h2>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              <span class="badge badge-changed">Changed</span>
              <ul>
              <li>
              Fix scrollbar jumping in Switcher, Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr.
              </li>
              <li>
              style support for radio and checkbox in Firefox , sed diam
              nonumy eirmod tempor.
              </li>
              <li>
              class from Section component invidunt, ut labore et dolore
              magna aliquyam.
              </li>
              </ul>
              </div>
              </div>
              */}}
          </div>
        </div>
      </div>
    </div>
    <svg
      class="backdrop text-primary"
      style="bottom:100px;left:0;opacity:1"
      width="270"
      height="670"
      viewBox="0 0 270 670"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        opacity="0.22"
        d="M-65.3333 4.23413e-05C119.866 3.42459e-05 270 149.985 270 335C270 520.015 119.866 670 -65.3333 670C-149.742 670 -246.047 638.844 -325.87 587.416C-421.185 526.006 -493 435.691 -493 335C-493 236.006 -325.251 261.462 -232.333 200.134C-151.593 146.844 -151.44 4.61051e-05 -65.3333 4.23413e-05Z"
        fill="currentColor" />
    </svg>

    <svg
      class="backdrop text-tertiary"
      style="top:0;right:0"
      width="490"
      height="670"
      viewBox="0 0 490 670"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        opacity="0.25"
        d="M427.667 1.51615e-05C612.866 7.06621e-06 763 149.985 763 335C763 520.015 612.866 670 427.667 670C343.258 670 246.953 638.844 167.13 587.416C71.8151 526.006 -1.0242e-05 435.691 -1.46433e-05 335C-1.89705e-05 236.006 167.749 261.462 260.667 200.134C341.407 146.844 341.56 1.89254e-05 427.667 1.51615e-05Z"
        fill="currentColor"></path>
    </svg>
  </section>

  {{ partial "components/cta" }}
{{ end }}
