// Components
.page-header-bg {
  padding-bottom: 80px;
  @include tablet {
    padding-bottom: 40px;
  }
  @include mobile {
    padding-bottom: 0px;
  }

  .space {
    padding: 80px 0px;
    @include tablet {
      padding: 65px 0px;
    }
  }
  .container {
    &::after {
      height: calc(100% - 40px);

      @include mobile {
        top: 0px;
        height: calc(100% - 56px);
      }
    }
  }
  .backdrop {
    top: -10%;
    left: -10%;
  }
}

.has-colored-text {
  .colored-text .badge {
    padding: 10px 12px;
    border-radius: 6px;
    background-color: lighten($color: $light, $amount: 3);
    padding: 9px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  & > *:nth-child(3n + 1) {
    .colored-text .badge {
      color: $color-tertiary !important;
      &:hover {
        background-color: $color-tertiary !important;
        color: $white !important;
      }
    }
  }
  & > *:nth-child(3n + 2) {
    .colored-text .badge {
      color: $color-primary !important;
      &:hover {
        background-color: $color-primary !important;
        color: $white !important;
      }
    }
  }
  & > *:nth-child(3n + 3) {
    .colored-text .badge {
      color: $color-quaternary !important;
      &:hover {
        background-color: $color-quaternary !important;
        color: $white !important;
      }
    }
  }
}

// banner
.banner {
  padding-bottom: 100px;
  .section {
    margin-top: 100px;

    p:not(.section-subtitle) {
      margin: auto;
      font-size: 16px;
      max-width: 660px;
      margin-bottom: 1.6rem;
    }
    &-title {
      margin-bottom: 1rem;
      padding-bottom: 0px;

      &::before,
      &::after {
        display: none;
      }
    }
    @include mobile {
      margin-top: 50px;
    }
  }
  .content-overlay {
    padding: 1rem;
    position: relative;
    /*padding-bottom: 0px;*/
    overflow: hidden;
    border-radius: 24px;

    img {
      border-radius: 24px 24px 0px 0px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($white, 0.4);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($black, 0.09);
      position: absolute;
      top: 0px;
      left: 0px;
    }
    &.video-thumb {
      &::after {
        display: none;
      }
    }
  }
  &.has-overlay .container {
    &::after {
      height: calc(100% - 150px);
      top: 30px;
      background: $gradient-secondary;

      @include mobile {
        display: none;
      }
    }
  }
  &.page-header.has-overlay .container {
    &::after {
      height: calc(100% - 30px);
    }
  }
  &.page-header .backdrop {
    top: -10%;
    left: -10%;
  }
  &.page-header {
    @include mobile {
      padding-bottom: 0;
      margin-bottom: 4rem;
      background-color: rgba($black, 0.03);
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
  }
  .backdrop-1 {
    top: -10%;
    left: -10%;
    @include tablet {
      left: -30%;
      transform: scale(0.8);
    }
    @include mobile {
      left: -50%;
      transform: scale(0.8);
    }
  }
  .backdrop-2 {
    bottom: -10%;
    right: 0;
  }
}

// reviews
.reviews {
  .block {
    border-right: 1px solid $border-color;
    &:last-child {
      border-right: none;
    }
    @include desktop {
      &:nth-child(2n) {
        border-right: none;
      }
    }
  }
}

// marketing-tools
.marketing-tools {
  .backdrop {
    opacity: 1;
    top: 0;
    left: 0;
  }
  .nav-tabs {
    border-bottom: 2px solid lighten($black, 83.14);
    @include desktop-lg {
      border-bottom: 0;
    }
    .nav-link {
      margin-bottom: -2px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border: 2px solid transparent;
      border-bottom: 2px solid transparent !important;
      padding: 0px;
      img {
        @include desktop {
          width: 60px;
        }
        @include tablet {
          width: 40px;
        }
      }
      &.active {
        border-color: lighten($black, 83.14);
        background-color: rgba($color-primary, 0.15) !important;
        border-bottom: 2px solid #d1e1f7 !important;
      }
      @include desktop-lg {
        border-radius: 12px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        &.active {
          border-bottom: 2px solid lighten($black, 83.14) !important;
        }
      }
    }
  }
}

// services
.services {
  .tab-content {
    padding: 0;
    .row > div {
      padding: 35px;
      @include tablet {
        padding: 30px;
      }
    }
  }
  .block {
    padding-right: 60px;
    @include desktop {
      padding-right: 0;
      margin-bottom: 25px;
    }
  }
  .bg-light {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    transform: translateX(1px);
    @include desktop {
      border-radius: 0;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      transform: translateX(0);
    }
    @include tablet {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  .nav-tabs {
    .nav-item {
      margin: 12px;
      margin-top: 25px;
      @include mobile {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    .nav-link {
      border: 0;
      padding: 45px 5px 10px 5px;
      width: 180px;
      height: 165px;
      color: $text-dark !important;
      filter: url(#round);
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      @include tablet {
        width: 150px;
        height: 140px;
      }
      @include mobile {
        width: 130px;
        height: 120px;
        font-size: 16px;
      }
      &::after {
        position: absolute;
        z-index: -2;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background: darken(saturate(adjust-hue($white, 233), 23.53), 13.33);
        transition: 0.3s ease;
        clip-path: polygon(50% 0, 100% 40%, 100% 100%, 0 100%, 0 40%);
      }
      &.active::after {
        background: $color-primary;
      }
    }
    .icon {
      position: absolute;
      top: -10px;
      left: calc(50% - 30px);
      width: 100%;
      text-align: center;
      z-index: 5;
      font-size: 1.5rem;
      background-color: darken(saturate(adjust-hue($white, 228), 38.46), 2.55);
      height: 40px;
      line-height: 40px;
      width: 55px;
      color: rgba($color-primary, 0.6);
    }
    .active + .icon {
      color: $color-primary;
    }
    .label {
      position: relative;
      z-index: 6;
      word-spacing: 50px;
    }
    .polygon {
      filter: url(#round);
      padding: 30px 10px 10px 10px !important;
      width: 172px;
      height: 156px;
      display: block;
      position: absolute;
      top: 6px;
      left: 4px;
      z-index: 3;
      @include tablet {
        width: 142px;
        height: 131px;
      }
      @include mobile {
        width: 122px;
        height: 111px;
      }
      &::after {
        position: absolute;
        z-index: -2;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        height: 99.2%;
        background: darken(saturate(adjust-hue($white, 228), 38.46), 2.55);
        clip-path: polygon(50% 0, 100% 40%, 100% 100%, 0 100%, 0 40%);
      }
    }
  }
}

// integration
.integration {
  .swiper {
    overflow: initial;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
    user-select: none;
  }
  .backdrop {
    bottom: -100px;
    right: 0;
    transform: scale(0.6);
    transform-origin: right bottom;
  }
}

// how-it-works
.how-it-works {
  .content-block {
    padding: 70px;
    @include desktop {
      padding: 50px 30px;
    }
    @include tablet {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .image-block {
    margin-top: 70px;
    background: rgba($white, 0.4);
    overflow: hidden;
    padding: 1.6rem 1.6rem 0px 0px;
    border-radius: 0px 24px;
    @include desktop {
      padding: 0 30px;
      margin-top: 50px;
      background-color: transparent !important;
      border-radius: 0px !important;
    }
    @include tablet {
      margin-top: 30px;
    }
    img {
      border-top-right-radius: 24px;
      border-bottom-left-radius: 24px;
      box-shadow: 0px 4px 40px rgba($color-primary, 0.3);
      @include desktop {
        border-radius: 24px !important;
        box-shadow: none !important;
      }
      @include tablet {
        border-radius: 12px !important;
      }
    }
  }
  .image-right .image-block {
    padding: 1.6rem 0px 0px 1.6rem;
    border-radius: 24px 0px;

    @include desktop {
      padding: 0 30px;
      background-color: transparent !important;
      border-radius: 0px !important;
    }

    img {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
  }

  .backdrop {
    top: 0;
    opacity: 1;
  }
}

// testimonials
.testimonials {
  .block {
    padding: 30px;
    border-left: 8px solid $color-secondary;
  }
  .backdrop {
    &-1,
    &-2 {
      opacity: 1;
    }
    &-1 {
      top: -100px;
      right: 0;
      transform: scale(0.7);
      transform-origin: right top;
    }
    &-2 {
      bottom: -100px;
      left: 0;
      transform: scale(0.5);
      transform-origin: left bottom;
    }
  }
  .rating {
    i {
      color: $light;
    }

    &.five {
      li {
        i {
          color: #f9cf1f;
        }
      }
    }

    &.four {
      li {
        &:not(:last-child) {
          i {
            color: #f9cf1f;
          }
        }
      }
    }

    &.three {
      li {
        i {
          color: #f9cf1f;
        }

        &:last-child {
          i {
            color: $light;
          }
        }

        &:nth-child(4) {
          i {
            color: $light;
          }
        }
      }
    }

    &.two {
      li {
        &:first-child {
          i {
            color: #f9cf1f;
          }
        }

        &:nth-child(2) {
          i {
            color: #f9cf1f;
          }
        }
      }
    }

    &.one {
      li {
        &:first-child {
          i {
            color: #f9cf1f;
          }
        }
      }
    }
  }
}
.testimonials-button-prev,
.testimonials-button-next {
  background-color: $light;
  color: $text-dark;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 44px;
  font-size: 25px;
  transition: 0.3s;
  display: inline-block;
  margin-right: 10px;
  &:hover {
    background-color: $color-primary;
    color: $white;
  }
}

// about-info
.about-info {
  .about-info-image {
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: $color-primary;
      left: 0;
      top: 0;
      border-radius: inherit;
      z-index: -1;
      transform: rotateZ(8deg);
      @include mobile {
        transform: rotateZ(2deg);
      }
    }
    img {
      border-radius: inherit;
    }
  }
  .backdrop {
    top: 0;
    left: -20%;
    opacity: 1;
  }
}

// team
.team-filter {
  button {
    width: 100%;
  }
  .nav-link {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background-color: $white;
    margin-bottom: 12px;
    color: $text-dark;

    i {
      max-width: 25px;
      width: 100%;
    }
    &.active {
      color: $white !important;
      .icon {
        color: $white;
      }
    }
  }
}
.team-item {
  .block {
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 20px 60px 10px rgba($black, 0.06);
    }
  }
}

// our-values
.our-values {
  position: relative;
  z-index: 1;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% - 150px);
    top: 0;
    right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: darken(saturate(adjust-hue($white, 225), 18.18), 4.31);
  }
  .flex-nowrap {
    @include desktop {
      flex-wrap: wrap !important;
    }
  }
  .block {
    .icon {
      height: 64px;
      width: 64px;
      background-color: rgba($color-primary, 0.1);
      border-radius: 8px;
      line-height: 64px;
      text-align: center;
      font-size: 26px;
    }
  }
}

// pricing
.pricing {
  .backdrop {
    opacity: 1;
    top: 0;
    right: 0;
  }
  .custom-plan {
    padding: 40px 34px;
  }
  .fixed-plan {
    padding: 25px;
    background-color: darken(saturate(adjust-hue($white, 225), 18.18), 4.31);
  }
  .pricing-rows {
    .row > div {
      position: relative;
      z-index: 1;
      &:nth-child(even) {
        &::after {
          position: absolute;
          content: "";
          left: -15px;
          top: 0;
          height: 100%;
          width: calc(100% + 30px);
          background-color: darken(
            saturate(adjust-hue($white, 225), 18.18),
            4.31
          );
          z-index: -1;
          opacity: 0.3;
          @include desktop {
            left: 0;
          }
          @include mobile {
            left: -15px;
          }
        }
      }
    }
  }
}

// call to action
.cta {
  margin-bottom: 100px;
  .section-subtitle {
    background-color: rgba($white, 0.1) !important;
  }
  .cta-block {
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.aside,
.custom-plan,
.cta {
  position: relative;
  z-index: 1;
  .left-top,
  .right-top,
  .left-bottom,
  .right-bottom {
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }
  .left-top {
    top: 0;
    left: 0;
    transform-origin: top left;
  }
  .right-top {
    top: 0;
    right: 0;
    transform-origin: top right;
  }
  .left-bottom {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
  }
  .right-bottom {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
  }
}

// work-with-us
.work-with-us {
  .info-images {
    position: relative;
    margin-left: 15%;
    @include mobile {
      margin-left: 0;
      img {
        max-width: 80%;
      }
    }
    div {
      &:first-child {
        transform: rotate(-10deg);
        position: absolute;
        top: 0;
      }
      &:last-child {
        transform: rotate(10deg);
      }
    }
  }
}

// open-positions
.open-positions {
  .container {
    z-index: 2;
  }
  .nav-link {
    background-color: darken($color: $light, $amount: 2);
  }
  .nav-link.active {
    color: $white !important;
  }

  .job-card {
    background-color: #f5faff;
    &-title {
      width: 100%;
      max-width: 400px;
      padding-right: 100px;

      @include desktop-xl {
        max-width: 100%;
        padding-right: 0px;
      }
    }
  }
}

// blog
.blog-card {
  &-horizontal {
    .block {
      margin-right: -60px;
      z-index: 3;
      position: relative;
      @include desktop {
        margin-right: auto;
        margin-left: auto;
        margin-top: -35px;
        max-width: calc(100% - 30px);
      }
    }
    @include desktop {
      .card-image {
        max-height: 300px;
        object-fit: cover;
      }
    }
  }
  .blog-title {
    color: $text-dark;
    &:hover {
      text-decoration: underline;
      color: $text-dark;
    }
  }
  .author-link {
    color: $text-dark;
    &:hover {
      color: $text-dark;
      opacity: 0.7;
    }
  }
  .card-body {
    position: relative;
  }
  .badge {
    font-size: 12px;
    padding: 10px 14px !important;
  }
}

// author
.author-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include desktop {
    gap: 20px;
  }

  .author-desc {
    font-size: 16px;
    font-weight: 300;
    max-width: 600px;
    margin-top: 5px;

    p {
      margin-bottom: 0px;
    }
  }

  .social-links {
    li a {
      background-color: $light;
      color: $color-primary;
      text-align: center;
      font-size: 20px;

      &:hover {
        background-color: $color-primary;
        color: $white;
      }

      @include tablet {
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

// contact
.contact {
  margin-bottom: 100px;

  .container {
    padding: 100px 0px;

    @include desktop {
      padding: 50px 0px;
    }

    @include mobile {
      padding: 0px;
    }

    &::after {
      top: 0px;
    }
  }
  .block {
    padding: 40px;
    @include mobile {
      padding: 40px 25px;
    }
  }
}

// footer
footer {
  background-color: $dark;
  position: relative;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  z-index: 1;
  @include tablet {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: calc(100% - 85px);
    background-color: rgba($black, 0.2);
    z-index: -1;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    @include tablet {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    @include mobile {
      display: none;
    }
  }
  .container {
    @include mobile {
      padding-top: 0;
    }
  }
}

// footer-links
.footer-links {
  li {
    margin-right: 30px !important;
  }
  a {
    color: $white;
    font-size: 18px !important;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

.copyright {
  a {
    font-size: 16px !important;
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
