<!-- navigation -->
<header class="navigation position-absolute w-100 mt-1 mt-sm-4 pt-0 pt-sm-3">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <!-- navbar brand/logo -->
      <a class="navbar-brand me-0" href="{{ site.BaseURL | relLangURL }}">
        {{ partial "logo" (dict "Src" site.Params.logo) }}
      </a>

      <div class="d-flex align-items-center">
        {{ with site.Params.navigation_button }}
          {{ if .enable }}
            <!-- navigation btn -->
            <a
              href="{{ .link | relLangURL }}"
              class="btn btn-sm btn-primary ms-2 d-none d-md-inline-block d-xl-none">
              {{ .label }}
            </a>
          {{ end }}
        {{ end }}
        <!-- Language List -->
        {{ if .IsTranslated }}
          <select
            class="border-0 d-inline-block d-xl-none ms-0 me-2 mx-sm-3"
            onchange="location = this.value;">
            {{ $siteLanguages := site.Languages }}
            {{ $pageLang := .Page.Lang }}
            {{ range .Page.AllTranslations }}
              {{ $translation := . }}
              {{ range $siteLanguages }}
                {{ if eq $translation.Lang .Lang }}
                  {{ $selected := false }}
                  {{ if eq $pageLang .Lang }}
                    <option
                      id="{{ $translation.Language }}"
                      value="{{ $translation.RelPermalink }}"
                      selected>
                      {{ .LanguageName }}
                    </option>
                  {{ else }}
                    <option
                      id="{{ $translation.Language }}"
                      value="{{ $translation.RelPermalink }}">
                      {{ .LanguageName }}
                    </option>
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          </select>
        {{ end }}


        <!-- navbar toggler -->
        <button
          class="navbar-toggler d-block d-xl-none rounded active"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navigation"
          title="Expand &amp; shrink sidebar">
          <label class="position-relative">
            <input class="d-none" type="checkbox" /><svg
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg">
              <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35"></path>
              <path class="line--2" d="M0 50h70"></path>
              <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65"></path>
            </svg>
          </label>
        </button>
      </div>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto mt-3 mt-xl-0">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ range site.Menus.main }}
            {{ $menuURL := .URL | absLangURL }}
            {{ $pageURL:= $currentPage.Permalink | absLangURL }}
            {{ $active := eq $menuURL $pageURL }}
            {{ if .HasChildren }}
              <li
                class="nav-item dropdown {{ if .Params.isMenuLarge }}
                  dropdown-lg
                {{ end }}
          {{- range .Children -}}
                  {{- $childURL := .URL | absLangURL -}}
                  {{- $active := eq $childURL $pageURL -}}
                  {{- if $active }}active{{ end -}}
                {{- end -}}">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  {{ .Name }}
                </a>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                    {{ $childURL := .URL | absLangURL }}
                    {{ $active := eq $childURL $pageURL }}
                    <li>
                      <a
                        class="dropdown-item {{ if $active }}active{{ end }}"
                        {{ if findRE `^http` .URL }}
                          target="_blank" rel="noopener"
                        {{ end }}
                        href="{{ if findRE `^#` .URL }}
                          {{ if not $.IsHome }}
                            {{ site.BaseURL | relLangURL }}
                          {{ end }}{{ .URL }}
                        {{ else }}
                          {{ .URL | relLangURL }}
                        {{ end }}"
                        >{{ .Pre }}{{ .Name }}{{ .Post }}</a
                      >
                    </li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a
                  class="nav-link"
                  {{ if findRE `^http` .URL }}
                    target="_blank" rel="noopener"
                  {{ end }}
                  href="{{ if findRE `^#` .URL }}
                    {{ if not $.IsHome }}
                      {{ site.BaseURL | relLangURL }}
                    {{ end }}{{ .URL }}
                  {{ else }}
                    {{ .URL | relLangURL }}
                  {{ end }}"
                  >{{ .Name }}</a
                >
              </li>
            {{ end }}
          {{ end }}
        </ul>

        {{ partial "components/language-switcher.html" . }}
        <!--  Language Switcher  -->

        <div class="mb-3 mb-xl-0">
          {{ with site.Params.navigation_button }}
            {{ if .enable }}
              <!-- navigation btn -->
              <a
                href="{{ .link | relLangURL }}"
                class="btn btn-sm btn-primary ms-lg-2 mt-2 mt-lg-0 d-block mw-100 d-md-none d-xl-inline-block">
                {{ .label }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->
